/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#__devtools_highlighter {
  position: absolute; 
  background-color: #4aa9fab8;
  display: block; 
  z-index: 9999;
}

#__devtools_highlighter.hide {
  display: none;
}
